:root {
  --kwik-primary: #462468;
  --kwik-primary-hover: #b386df;
  --kwik-primary-bg-hover: #8347bf3d;
  --kwik-primary-light: #F7F7F8;
  --kwik-black: #1D1C1C;

  --kwik-primary-shadow-sm: 1px 0px 2px 0px #5b4870;

  --nav-width: 250px;

  --kwik-border-radius-base: 0.5rem;
}
body {
  font-family: "Mukta", sans-serif;
  background-color: var(--kwik-primary-light);
  color: var(--kwik-black);
}

/* GENERAL STYLES */
.section-heading-1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.section-heading-2 {
  font-size: 1.6rem;
  font-weight: 500;
}
/* END OF GENERAL STLYES */

/* GENERAL STYLES FOR DASHBOARD */
.navbar-canvas {
  background-color: var(--kwik-primary);
  color: var(--bs-light);
  width: 65vw;
}

.nav-content > .nav-item {
  display: block;
  text-align: start;
  color: var(--bs-light);
  text-decoration: none;
  margin: 0.5rem 0;
  padding: 0.6rem 1rem;
  border-radius: var(--kwik-border-radius-base);
}

.nav-content > .nav-item:hover:not(.nav-item.active) {
  cursor: pointer;
  color: var(--kwik-primary-hover);
  background-color: var(--kwik-primary-bg-hover);
  box-shadow: var(--kwik-primary-shadow-sm);
  transition: all 150ms ease-in;
}

.nav-content > .nav-item.active {
  background-color: var(--kwik-primary-bg-hover);
  box-shadow: var(--kwik-primary-shadow);
}
/* END OF GENERAL STYLES FOR DASHBOARD */

@media (min-device-width: 768px) {
  .dashboard-nav {
    width: var(--nav-width);
    background-color: var(--kwik-primary);
    height: 100vh;
    color: whitesmoke;
  }

  .dashboard-content {
    width: calc(100vw - var(--nav-width));
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
