{% extends 'base.html' %} {% block extra_styles %}
<style>
  .login-form-container .row {
    /* display: grid;
    place-content: center; */
    min-height: 100vh;
    width: 100vw;
  }

  .login-form-container .col {
    background-color: var(--kwik-primary);
    box-shadow: var(--kwik-primary-shadow-sm);
    border-radius: var(--kwik-border-radius-base);
  }

  label {
    color: var(--kwik-primary-light);
  }

  .form-error-div {
    border-radius: 5px;
  }

  .form-error {
    color: inherit;
    font-size: small;
    margin: 0px;
  }
</style>
{% endblock extra_styles%} {% block content %}
<main class="container-fluid login-form-container">
  <div class="row align-items-center justify-content-center">
    <div class="col col-10 col-md-4 px-5 py-4">
      <form method="post" action="{% url 'login' %}" class="mb-2">
        <h1 class="text-light text-center section-heading-1">kwikreport</h1>
        <h3 class="text-light text-center section-heading-2">Login</h3>
        {% csrf_token %} {% if form.errors %}
        <div class="alert-danger p-1 my-3 form-error-div">
          {% for field, errors in form.errors.items %} {% for error in errors %}
          <p class="form-error py-1">{{error}}</p>
          {% endfor %} {% endfor %}
        </div>
        {% endif %} {% for field in form %}
        <div class="form-group mb-3">
          <label>{{field.label}}</label>
          {{ field }}
        </div>
        {% endfor %}
        <input
          type="submit"
          class="btn custom-light-btn"
          value="LOGIN"
          style="padding: 0.8rem 1rem; width: 100%"
        />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      <p class="text-white text-center mt-2" style="font-size: small;">
        Do not have an account yet?
        <a href="{% url 'signup' %}" class="text-light">Sign up</a>
      </p>
    </div>
  </div>
</main>
{% endblock content %}
