
.navbar-custom {
    background-color: #442A51;
}
.nav-link {
    color: #fff;
  }
.navbar-toggler {
    background-color: #fff;
}
.my-intro {
    background-color: #442A51;
}
.card-custom {
    background-color: #442A51;
}
h1 {
    font-size: 32px;
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
    color: #442A51;
  }
h2 {
    font-size: 32px;
    font-family: Calibri;
    font-weight: bold;
    text-align: left;
    color: #442A51;
}
p {
    font-family: 'Times New Roman', Times, serif;
}
a img {
    fill: #442A51;
    stroke: #442A51;
  }
